/*scrollbar*/
.custom-scrollbar-css {
    height: 400px;
}

.custom-scrollbar-css {
    overflow-y: scroll;
}

.custom-scrollbar-css::-webkit-scrollbar {
    width: 3px;
}

.custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
}

.custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #A78C7E;
}
/*scrollbar*/

/*categories page*/
.circular--square {
    border-radius: 50%;
}
