.jumbotron {
    background-size: cover;
    border-radius: 0;
    /*opacity: 0.5;*/
    text-align: center;
}

.jumbo-text {
    color: white;
}

.btn-dark {
    background: #A78C7E;
    border-color: #A78C7E;
}

.btn-dark:hover {
    background: #886c5d;
    border-color: #886c5d;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control-underlined:active, .form-control-underlined:focus {
    outline-color: #A78C7E;
    border-color: #A78C7E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(167, 140, 126, 1);
}

.op {
    opacity: 0.5;
}

#parent {
    list-style: none;
    display: inline-block;
}

.inline-icons {
    display: block;
}

.card-acc {
    border: none;
}

.brown {
    color: #886c5d;
}

.icon-color {
    color: #A78C7E;
}

.card-index {
    min-width: 0;
    min-height: 100px;
    max-height: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-method {
    border: none;
    background: #A78C7E;
    color: #fff;
}

.card-link {
    color: #fff;
}


a {
    color: #A78C7E;
}

a:hover,
a:focus {
    color: #886c5d;
    text-decoration: none;
    transition: all 0.3s;
}

.footer-color {
    background: #A78C7E;
    color: #fff;
}

.footer-link{
    color: #886c5d;
}
.footer-link:hover,
.footer-link:focus{
    text-decoration: underline;
    transition: all 0.3s;
}

.methodUL {
    list-style-type: none;
}


/*da ni okroglih robov*/
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


#div1 {
    flex-direction: column;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color: #A78C7E;
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(155deg,
    #fff1da 0%,
    #f9d6bf 50%,
    #ddbba5 100%,
    #c2a18b 100%
    );
    transition: all .3s ease-out .7s;
    transform: translate3d(0, 0, 0);
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.buttoncek {
    display: inline-block;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 20px;
    perspective: 1px;
}

.buttoncek span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttoncek span:after {
    content: '\00bb';
    position: absolute;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttoncek:hover span {
    padding-right: 25px;
}

.buttoncek:hover span:after {
    right: 0;
}

.answer {
    margin-left: 50px;
}

