<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <script crossorigin="anonymous" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:src="@{/js/editMethod.js}"></script>
    <script th:src="@{/js/viewMethod.js}"/>
    <script th:src="@{/js/sidebarJS.js}"/>

    <script crossorigin="anonymous"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/stili.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/scrollbarCSS.css}" type="text/css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${scrum.getName()}"></title>
</head>

<body>


<div class="wrapper d-flex align-items-stretch">

    <!-- Sidebar  -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-between">
            <button id="sidebarCollapse" type="button" class="btn btn-dark">
                <span class="fas fa-angle-left"></span>
            </button>
            <div sec:authorize="isAuthenticated()">
                <a href="/index" class="btn btn-dark">Home</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div th:replace="fragments/navbar :: navbar"></div>
            </div>
        </nav>


        <div class="jumbotron text-center jumbo-text"
             style="background:linear-gradient(to bottom, rgba(236, 234, 221,0.5), rgba(193, 176, 154,0.5)), url(/images/metodaPIC.jpeg);">
            <h1 class="display-3" id="methodName" style=" opacity: 1;" th:text="${scrum.getName()}"></h1>
            <div id="parent" th:each="tags : ${scrum.getTags()}">
                <span class="inline-icons">
                    <i class="fas fa-link icon-color d-inline"></i>
                    <span th:text="${tags}"></span>
                </span>
            </div>
            <br/>
        </div>

        <div class="row no-gutters position-relative">
            <div class="col-lg-6 position-static p-4 pl-md-0" style="font-size: 18px">
                <div class="custom-scrollbar-css pr-3" style="height: 400px">
                    <div sec:authorize="!isAuthenticated()" class="nav-item">
                        <p class="text-justify" th:text="${scrum.description}"></p>
                    </div>
                    <!-- pogled za edtiorja-->
                    <div sec:authorize="isAuthenticated()" class="nav-item">
                        <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                            <p class="text-justify" th:text="${scrum.description}" contenteditable="true"
                               id="methodDescription"></p>
                            <a class="float-right" data-dismiss="modal" type="button" onclick="editDescription()"
                               value="Save">
                                <i class="fas fa-save icon-color"></i>
                            </a>
                        </div>
                    </div>
                    <!-- pogled za edtiorja-->
                </div>
            </div>
            <br/>
            <div class="col-sm-6">
                <br/>
                <div class="col-sm-12">
                    <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img alt="Start Slideshow" class="d-block w-100"
                                     th:src="@{${'/images/good.jpg'}}">
                            </div>
                            <div class="carousel-item" th:each="images : ${scrum.getImages()}">
                                <img class="d-block w-100"
                                     th:src="${images}">
                            </div>
                        </div>
                        <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls"
                           role="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" data-slide="next" href="#carouselExampleControls"
                           role="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- galerija slik -->
        </div>

        <hr>
        <div class="card-deck">
            <div class="card d-flex card-method">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="card-title d-inline" style="font-family: 'Corbel Light';">Requirements</h3>
                        </div>
                        <div class="col-md-1" style="font-size: 18px">
                            <div sec:authorize="isAuthenticated()" class="nav-item">
                                <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                                    <a data-target="#requirementsModal" data-toggle="modal"><i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">
                    <div th:each="requirements : ${scrum.getRequirements()}">
                            <span class="inline-icons">
                                <i class="far fa-check-square"></i>
                                <span th:text="${requirements}"></span>
                            </span>
                    </div>
                    </p>

                </div>
            </div>
        </div>

        <script th:inline="javascript">
            var requirementsExisting = [[${scrum.getRequirements()}]];
        </script>
        <div aria-hidden="true" aria-labelledby="requirementsModal" class="modal fade" id="requirementsModal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="padding: 30px;">
                    <div class="modal-header">
                        <h5 class="modal-title">Requirements</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addRequirementsForm">
                            <div class="form-group row" id="methodRequirements"
                                 th:each="requirements : ${scrum.getRequirements()}">
                                <span class="inline-icons">
                                <i class="far fa-check-square icon-color"></i>
                                <span th:id="'methodRequirements' + ${requirements}" th:text="${requirements}"></span>
                                    <i class="fas fa-trash icon-color"
                                       th:attr="onclick=|deleteElement('${requirements}', 'methodRequirements')|"></i></span>
                                </br>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="methodAddRequirements">Add
                                    requirements:</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="methodAddRequirements" type="text"></input>
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-dark float-right"
                                           onclick="addRequirement()"
                                           type="button"
                                           value="Add">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-dark float-right"
                                       id="editRequirements"
                                       onclick="editRequirement()"
                                       type="button"
                                       value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <!--Accordion -->
        <div aria-multiselectable="true" class="accordion md-accordion" id="accordionEx" role="tablist">

            <span th:if="${!scrum.roles.isEmpty()}">
                <div class="card-acc">
                    <div class="card-header" id="headingRoles" role="tab">
                        <a aria-controls="collapseRoles" aria-expanded="true" class="link-acc"
                           data-parent="#accordionEx"
                           data-toggle="collapse" href="#collapseRoles">
                            <h5 class="mb-0">
                                Roles <i class="fas fa-angle-down float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <div aria-labelledby="headingRoles" class="collapse" data-parent="#accordionEx" id="collapseRoles"
                         role="tabpanel">
                        <div class="card-body">
                            <div th:each="roles : ${scrum.roles}">
                                <div class="row">
                                    <div class="col-6 d-inline">
                                        <div class="row">
                                            <div class="col-11">
                                                <h5 class="d-inline" th:text="${roles.name}"></h5>
                                                <span th:if="${roles.mandatory}">
                                                    <p class="lead d-inline"> - mandatory role</p>
                                                </span>
                                                <span th:if="${!roles.mandatory}">
                                                    <p class="lead d-inline"> - optionary role</p>
                                                </span>
                                            </div>
                                            <div class="col-1">
                                                <div sec:authorize="isAuthenticated()" class="nav-item">
                                                     <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                                                    <a class="displayRoleModal"
                                                       th:attr="onclick=|displayRoleModal('${roles.Id}')|">
                                                    <i class="fas fa-edit"></i>
                                                    </a>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script th:inline="javascript">

                                                        var method = [[${scrum}]];

                                        </script>
                                        <div class="row text-justify">
                                            <p th:text="${roles.description}"></p>
                                        </div>
                                        <div class="row">
                                            <span th:if="${!roles.requiredKnowledge.isEmpty()}">
                                                <ul class="methodUL"
                                                    th:each="requiredKnowledge : ${roles.requiredKnowledge}">
                                                    <i class="fas fa-caret-right d-inline icon-color"></i>
                                                    <li class="d-inline" th:text="${requiredKnowledge}"></li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <p hidden="true" id="roleId" name="roleId" th:text="${roles.Id}"></p>
                                    <!-- rabim v funkcijo -->
                                    <div class="col-6">
                                        <img class="d-block w-100" th:src="${roles.image}">
                                    </div>
                                </div>

                                <div class="card-deck pt-3">
                                    <div class="card card-method">
                                        <div class="card-body">
                                            <p class="card-text">
                                                <h3 class="lead">Event responsibility</h3>
                                                <ul class="methodUL"
                                                    th:each="eventsResponsibility : ${roles.eventsResponsibility}">
                                                   <li>
                                                       <span th:text="${eventsResponsibility.responsibility}"></span>
                                                       <i class="far fa-caret-square-right" style="color: #fff"></i>
                                                       <span th:text="${eventsResponsibility.event}"></span>
                                                   </li>
                                                </ul>
                                                <hr>
                                                <ul th:each="canBeCombinedWith : ${roles.getCanBeCombinedWith()}">
                                                        <li class="lead d-inline" th:text="${canBeCombinedWith}"></li>
                                                        <p class="d-inline"> - can be combined with</p>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card card-method">
                                        <div class="card-body">
                                            <p class="card-text">
                                                <h3 class="lead">Artifact responsibility</h3>
                                                <ul class="methodUL"
                                                    th:each="artifactsResponsibility : ${roles.artifactsResponsibility}">
                                                    <li>
                                                        <span th:text="${artifactsResponsibility.responsibility}"></span>
                                                        <i class="far fa-caret-square-right" style="color: #fff"></i>
                                                        <span th:text="${artifactsResponsibility.artifact}"></span>
                                                    </li>
                                                </ul>
                                                <hr>
                                                <ul class="methodUL" th:each="attachments : ${roles.attachments}">
                                                    <li>
                                                        <i class="fas fa-link d-inline icon-color"
                                                           style="color:#fff"></i>
                                                        <a class="card-link d-inline" th:href="@{${attachments}}">Find out more</a>
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <!-- modal za edit roles -->
            <script th:src="@{/js/editRole.js}"></script>
            <div aria-hidden="true" aria-labelledby="roleModalLabel" class="modal fade" id="roleModal" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 30px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="methodRoleName"></h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addRolesForm">
                                <div class="form-group row">
                                    <p hidden="true" id="methodRoleId"></p>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodRoleMandatory"
                                           name="isMandatory"
                                           style="text-align: right">Is
                                        it
                                        mandatory:</label>
                                    <div class="col-sm-9">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" id="methodRoleMandatory"
                                                   name="roleMandatory"
                                                   type="radio">
                                            <label class="custom-control-label"
                                                   for="methodRoleMandatory">Mandatory</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" id="methodRoleOptional"
                                                   name="roleMandatory"
                                                   type="radio">
                                            <label class="custom-control-label"
                                                   for="methodRoleOptional">Optional</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"
                                           for="methodRoleDescription"
                                           style="text-align: right">Description:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="methodRoleDescription"
                                                  name="artifactDescription" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodRoleRequiredKnowledge"
                                           style="text-align: right">Required
                                        Knowledge:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="methodRoleRequiredKnowledge"
                                                  rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodCanBeCombinedWith"
                                           style="text-align: right">Can be combined
                                        with:</label>
                                    <div class="col-sm-9">
                                            <textarea class="form-control" id="methodCanBeCombinedWith"
                                                      rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodRoleChecklist"
                                           style="text-align: right">Checklist: </label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="methodRoleChecklist" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <p class="col-sm-3 lead d-inline" style="padding-top: 5px;">Existing
                                        artifacts: </p>
                                    <div class="col-sm-9"
                                         id="methodExistingResponsibilityArtifact"
                                         style="border: 1px; border-style: solid; border-color: #A78C7E; padding: 5px;"></div>
                                </div>
                                <div class="col-sm-10">
                                    <h5>Artifacts responsibility:</h5>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-2 col-form-label"
                                           for="methodRoleArtifactResponsibility"
                                           style="text-align: right">Responsibility:</label>
                                    <input class="col-sm-8 form-control" id="methodRoleArtifactResponsibility"
                                           type="text">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-2 col-form-label" for="methodRoleArtifact"
                                           style="text-align: right">Artifact:</label>
                                    <div class="col-sm-8">
                                        <select class="custom-select" id="methodRoleArtifact">
                                            <option th:each="artifacts:${scrum.getArtifacts()}"
                                                    th:text="${artifacts.name}">Select
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2"><input class="btn btn-dark float-right"
                                                                 onclick="addArtifactResponsibility()"
                                                                 type="button"
                                                                 value="Add">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <p class="col-sm-3 lead d-inline" style="float: right; padding-top: 5px;">
                                        Existing
                                        events: </p>
                                    <div class="col-sm-9"
                                         id="methodExistingResponsibilityEvent"
                                         style="border: 1px; border-style: solid; border-color: #A78C7E; padding: 5px;"></div>
                                </div>
                                <div class="col-sm-10">
                                    <h5>Events responsibility:</h5>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-2 col-form-label"
                                           for="methodRoleEventResponsibility"
                                           style="text-align: right">Responsibility:</label>
                                    <input class="col-sm-8 form-control" id="methodRoleEventResponsibility"
                                           type="text">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-2 col-form-label" for="methodRoleEvent"
                                           style="text-align: right">Event:</label>
                                    <div class="col-sm-8">
                                        <select class="custom-select" id="methodRoleEvent">
                                            <option th:each="events:${scrum.getEvents()}"
                                                    th:text="${events.name}">Select
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2"><input class="btn btn-dark float-right"
                                                                 onclick="addEventResponsibility()"
                                                                 type="button"
                                                                 value="Add">
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <h5>Attachments:</h5>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2"></div>
                                    <label class="col-form-label col-sm-2"
                                           style="text-align: right">Attachments:</label>
                                    <div class="col-sm-8 custom-file">
                                            <textarea class="form-control" id="methodRoleAttachments"
                                                      rows="2"></textarea>
                                    </div>
                                    <br/>
                                </div>
                                <br/>
                                <div class="form-group row">
                                    <div class="col-sm-2">

                                        <label class="col-form-label col-sm-2"
                                               style="text-align: right">Pictures:</label>
                                        <div class="col-lg-3 col-md-4 col-sm-6 img-wrap" for="methodRoleImage"
                                             style="position:relative;width: 50%">
                                            <div class="col-sm-8 img-wrap" id="methodRoleImage"
                                                 style="position:relative;width: 50%">
                                                <img id="image" src="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3" style="text-align: right">Add
                                        pictures:</label>
                                    <div class="col-sm-9 custom-file">
                                        <input class="custom-file-input" id="methodRoleAddPictures" type="file"
                                               name="image" onchange="changeImageRole(this);">
                                        <label class="custom-file-label" name="image" id="select_file"
                                               for="methodRoleAddPictures">Choose pictures</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-dark float-right" data-dismiss="modal"
                                           onclick="editRole()"
                                           type="button"
                                           value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--konec modal za edit roles -->

            <span th:if="${!scrum.getEvents().isEmpty()}">
                <div class="card-acc">
                    <div class="card-header" id="headingEvents" role="tab">
                        <a aria-controls="collapseEvents" aria-expanded="false" class="collapsed"
                           data-parent="#accordionEx"
                           data-toggle="collapse" href="#collapseEvents">
                            <h5 class="mb-0">
                                Events <i class="fas fa-angle-down float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <div aria-labelledby="headingEvents" class="collapse" data-parent="#accordionEx" id="collapseEvents"
                         role="tabpanel">
                        <div class="card-body">
                            <div th:each="events : ${scrum.getEvents()}">
                                <div class="row">
                                    <div class="col-11 d-inline">
                                        <h5 class="d-inline" th:text="${events.name}"></h5>
                                         <span th:if="${events.mandatory}">
                                            <p class="lead d-inline"> - mandatory event</p>
                                        </span>
                                        <span th:if="${!events.mandatory}">
                                            <p class="lead d-inline"> - optional event</p>
                                        </span>
                                    </div>
                                    <p hidden="true" id="eventId" name="eventId" th:text="${events.Id}"></p>
                                    <!-- rabim v funkcijo -->
                                    <div class="col-1">
                                        <div sec:authorize="isAuthenticated()" class="nav-item">
                                             <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                                            <a class="displayEventModal"
                                               th:attr="onclick=|displayEventModal('${events.Id}')|"><i
                                                    class="fas fa-edit"></i>
                                            </a>
                                             </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-3">
                                    <div class="col-md-6 text-justify">
                                        <br/>
                                        <p th:text="${events.description}"></p>
                                    </div>
                                    <div class="col-md-6"
                                         style=" margin-bottom: 25px;border: 1px; border-style: solid; border-color: #A78C7E;">
                                        <h5 class="font-weight-light text-center text-lg-left mt-4 mb-0"
                                            style="color: #A78C7E; padding-left: 5px;">Goals: </h5>
                                        <ul class="methodUL" th:each="goals : ${events.goal}">
                                            <i class="fas fa-caret-right icon-color d-inline"></i>
                                            <li class="d-inline" th:text="${goals}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row pb-3">
                                    <div class="col-md-6">
                                                <ul class="methodUL" th:each="checklist : ${events.checklist}">
                                                    <i class="fas fa-caret-right icon-color d-inline"></i>
                                                    <il class="d-inline" th:text="${checklist}"></il>
                                                </ul>
                                    </div>
                                    <div class="col-sm-6"
                                         style="margin-top: -30px; border: 1px; border-style: solid; border-color: #A78C7E;">
                                        <h5 class="font-weight-light text-center text-lg-left mt-4 mb-0"
                                            style="color: #A78C7E; padding-left: 5px;">Type and duration: </h5>
                                        <ul class="methodUL">
                                            <li>
                                                <i class="fas fa-caret-right icon-color"></i>
                                                <span class="font-weight-light text-center text-lg-left mt-4 mb-0"
                                                      style="font-size: large"
                                                      th:text="${events.type}"></span>
                                            </li>
                                            <span th:if="${events.duration != '' }">
                                                <li>
                                                    <i class="fas fa-clock icon-color"></i>
                                                    <span th:text="${events.duration}"></span>
                                                </li>
                                            </span>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <script th:src="@{/js/editEvent.js}"></script>
            <!-- modal za edit events -->
            <div aria-hidden="true" aria-labelledby="eventModalLabel" class="modal fade" id="eventModal"
                 role="dialog"
                 tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 30px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="methodEventName"></h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addEventsForm">
                                <div class="form-group row">
                                    <p hidden="true" id="methodEventId"></p>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodEventMandatory"
                                           name="isMandatory" style="text-align: right">Is it
                                        mandatory:</label>
                                    <div class="col-sm-9">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" id="methodEventMandatory"
                                                   name="eventMandatory" type="radio">
                                            <label class="custom-control-label"
                                                   for="methodEventMandatory">Mandatory</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" id="methodEventOptional"
                                                   name="eventMandatory" type="radio">
                                            <label class="custom-control-label"
                                                   for="methodEventOptional">Optional</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"
                                           for="methodEventDescription"
                                           style="text-align: right">Description:</label>
                                    <div class="col-sm-9">
                                            <textarea class="form-control" id="methodEventDescription"
                                                      rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodEventType"
                                           style="text-align: right">Type:</label>
                                    <input class="col-sm-8 form-control" id="methodEventType"
                                           style="margin-left: 15px;" type="text">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodEventDuration"
                                           style="text-align: right">Duration:</label>
                                    <input class="col-sm-8 form-control" id="methodEventDuration"
                                           style="margin-left: 15px;" type="text">
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodEventGoal"
                                           style="text-align: right">Goal: </label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="methodEventGoal" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"
                                           for="methodEventChecklist" style="text-align: right">Checklist: </label>
                                    <div class="col-sm-9">
                                            <textarea class="form-control" id="methodEventChecklist"
                                                      rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-10">
                                    <h5>Attachments:</h5>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3"
                                           style="text-align: right">Attachments:</label>
                                    <div class="col-sm-9 custom-file">
                                            <textarea class="form-control" id="methodEventAttachments"
                                                      rows="2"></textarea>
                                    </div>
                                    <br/>
                                </div>
                                <br/>
                                <div class="modal-footer">
                                    <input class="btn btn-dark float-right" data-dismiss="modal"
                                           onclick="editEvent()"
                                           type="button"
                                           value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--konec modal za edit eventa -->

            <span th:if="${!scrum.artifacts.isEmpty()}">
                <div class="card-acc">
                    <div class="card-header" id="headingArtifacts" role="tab">
                        <a aria-controls="collapseThree3" aria-expanded="false" class="collapsed"
                           data-parent="#accordionEx"
                           data-toggle="collapse" href="#collapseArtifacts">
                            <h5 class="mb-0">
                                Artifacts <i class="fas fa-angle-down float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <div aria-labelledby="headingArtifacts" class="collapse" data-parent="#accordionEx"
                         id="collapseArtifacts"
                         role="tabpanel">
                        <div class="card-body">
                            <div th:each="artifact : ${scrum.artifacts}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-11 d-inline">
                                                <h5 class="d-inline" th:text="${artifact.name}"></h5>
                                                <span th:if="${artifact.mandatory}">
                                                    <p class="lead d-inline"> - mandatory artifact</p>
                                                </span>
                                                <span th:if="${!artifact.mandatory}">
                                                    <p class="lead d-inline"> - optional artifact</p>
                                                </span>
                                            </div>
                                            <p hidden="true" id="artifactId" name="artifactId"
                                               th:text="${artifact.Id}"></p>
                                            <div class="col-1">
                                                <div sec:authorize="isAuthenticated()" class="nav-item">
                                                     <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                                                    <a class="displayArtifactModal"
                                                       th:attr="onclick=|displayArtifactModal('${artifact.Id}')|">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-justify">
                                            <p th:text="${artifact.description}"></p> <br/>
                                            <span th:if="${!artifact.checklist.isEmpty()}">
                                                <ul class="methodUL" th:each="checklist : ${artifact.checklist}">
                                                    <i class="fas fa-caret-right icon-color d-inline"></i>
                                                    <li class="d-inline" th:text="${checklist}"></li>
                                                </ul>
                                            </span> <br/>
                                        </div>
                                        <div class="row">
                                            <span th:if="${!artifact.attachments.isEmpty()}">
                                                <ul class="list-group" th:each="attachments : ${artifact.attachments}">
                                                    <li class="list-group-item">
                                                        <i class="fas fa-link icon-color d-inline"></i>
                                                        <a class="d-inline"
                                                           th:href="@{${attachments}}">Find out more</a>
                                                    </li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img class="d-block w-100" th:src="${artifact.image}" alt="">
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
        </div>
        </span>
            <script th:src="@{/js/editArtifact.js}"></script>

            <!-- modal za artifacts -->
            <div aria-hidden="true" aria-labelledby="artifactModalLabel" class="modal fade" id="artifactModal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 30px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="methodArtifactName"></h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addArtifactsForm">
                                <div class="form-group row">
                                    <p hidden="true" id="methodArtifactId"></p>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodArtifactMandatory"
                                           name="isMandatory" style="text-align: right">Is it
                                        mandatory:</label>
                                    <div class="col-sm-9">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" id="methodArtifactMandatory"
                                                   name="artifactMandatory"
                                                   type="radio">
                                            <label class="custom-control-label"
                                                   for="methodArtifactMandatory">Mandatory</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input class="custom-control-input" id="methodArtifactOptional"
                                                   name="artifactMandatory"
                                                   type="radio">
                                            <label class="custom-control-label"
                                                   for="methodArtifactOptional">Optional</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"
                                           for="methodArtifactDescription"
                                           style="text-align: right">Description:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="methodArtifactDescription"
                                                  name="artifactDescription" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"
                                           for="methodArtifactChecklist"
                                           style="text-align: right">Checklist: </label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="methodArtifactChecklist"
                                                  name="artifactChecklist" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <h5>Attachments:</h5>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3"
                                           style="text-align: right">Attachments:</label>
                                    <div class="col-sm-9 custom-file">
                                        <textarea class="form-control" id="methodArtifactAttachments"
                                                  name="artifactAttachments" rows="2"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3" style="text-align: right">Pictures:</label>
                                    <div class="container">
                                        <div class="col-sm-9 img-wrap" id="methodArtifactImage"
                                             style="position:relative;width: 50%">
                                            <i class="fas fa-plus ml-2" style="position: absolute;">
                                                <img src="">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-3" style="text-align: right">Add
                                        pictures:</label>
                                    <div class="col-sm-9 custom-file">
                                        <input class="custom-file-input" id="methodArtifactAddPictures" type="file"
                                               onclick="changeImageArtifact(this)">
                                        <label class="custom-file-label" for="methodArtifactAddPictures">Choose
                                            pictures</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-dark float-right" data-dismiss="modal"
                                           onclick="editArtifact()"
                                           type="button"
                                           value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--konec modal za artifacts -->
            <script th:src="@{/js/editScenario.js}"></script>

            <span th:if="${!scrum.getScenarios().isEmpty()}">
                <div class="card-acc">
                    <div class="card-header" id="headingScenarios" role="tab">
                        <a aria-controls="collapseScenarios" aria-expanded="false" class="collapsed"
                           data-parent="#accordionEx"
                           data-toggle="collapse" href="#collapseScenarios">
                            <h5 class="mb-0">
                                Scenarios <i class="fas fa-angle-down float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <div aria-labelledby="headingScenarios" class="collapse" data-parent="#accordionEx"
                         id="collapseScenarios"
                         role="tabpanel">
                        <div class="card-body">
                            <div th:each="scenario : ${scrum.getScenarios()}">
                                <div class="row">
                                    <div class="col-11">
                                        <h5 th:text="${scenario.name}"></h5>
                                    </div>
                                    <p hidden="true" id="scenarioId" th:text="${scenario.Id}"></p>
                                    <div class="col-1">
                                        <div sec:authorize="isAuthenticated()" class="nav-item">
                                             <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                                             <a class="displayScenarioModal"
                                                th:attr="onclick=|displayScenarioModal('${scenario.Id}')|">
                                            <i class="fas fa-edit"></i></a>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="lead brown card-title">Steps: </h4>
                                <p class="card-text">
                                    <ul class="methodUL" th:each="steps : ${scenario.steps}">
                                        <li>
                                            <p class="d-inline" th:text="${steps.label}"></p>
                                            <i class="far fa-caret-square-right icon-color d-inline"></i>
                                            <p class="d-inline" th:text="${steps.event}"></p>
                                </li>
                                </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <!--modal za scenarios -->
            <div aria-hidden="true" aria-labelledby="scenarioModalLabel" class="modal fade" id="scenarioModal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 30px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="methodScenarioName"></h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">
                            <form id="addScenarioForm">
                                <div class="form-group row">
                                    <p hidden="true" id="methodScenarioId"></p>
                                </div>
                                <div class="form-group row">
                                    <p class="col-sm-3 lead d-inline" style="padding-top: 5px;">Existing
                                        Scenarios: </p>
                                    <div class="col-sm-9"
                                         id="methodExistingScenarioSteps"
                                         style="border: 1px; border-style: solid; border-color: #A78C7E; padding: 5px;"></div>
                                </div>
                                <h5>Steps: </h5>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodScenarioOrder"
                                           style="text-align: right">Order:</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select " id="methodScenarioOrder">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="6">7</option>
                                            <option value="6">8</option>
                                            <option value="6">9</option>
                                            <option value="6">10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodScenarioLabel"
                                           style="text-align: right">Label:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="methodScenarioLabel" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodScenarioEvent"
                                           style="text-align: right">Event:</label>
                                    <div class="col-sm-9">
                                        <select class="custom-select" id="methodScenarioEvent">
                                            <option th:each="events:${scrum.getEvents()}" th:text="${events.name}">
                                                Select
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2"><input class="btn btn-dark float-right"
                                                                 onclick="addStep()"
                                                                 type="button"
                                                                 value="Add step">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-dark float-right" data-dismiss="modal"
                                           onclick="editScenario()"
                                           type="button"
                                           value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- konec modal za scenarios -->
            <span th:if="${!scrum.getLimits().isEmpty()}"> <!--  - nekaj ne deluje s preverjanjem-->
                <div class="card-acc">
                    <div class="card-header" id="headingLimits" role="tab">
                        <a aria-controls="collapseLimits" aria-expanded="false" class="collapsed"
                           data-parent="#accordionEx"
                           data-toggle="collapse" href="#collapseLimits">
                            <h5 class="mb-0">
                                Limits <i class="fas fa-angle-down float-right"></i>
                            </h5>
                        </a>
                    </div>
                    <div aria-labelledby="headingLimits" class="collapse" data-parent="#accordionEx" id="collapseLimits"
                         role="tabpanel">
                        <div class="card-body">
                            <div th:each="limit : ${scrum.getLimits()}">
                                <div class="row">
                                    <div class="col-11">
                                        <h5 th:text="${limit.name}"></h5>
                                    </div>
                                    <p hidden="true" id="limitId" name="limitId" th:text="${limit.Id}"></p>
                                    <div class="col-1">
                                        <div sec:authorize="isAuthenticated()" class="nav-item">
                                             <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                                            <a class="displayLimitModal"
                                               th:attr="onclick=|displayLimitModal('${limit.Id}')|">
                                            <i class="fas fa-edit icon-color"></i></a>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="row">
                                    <div class="col-md-6">
                                        <p th:text="${limit.description}"></p>
                                    </div>

                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <script th:src="@{/js/editLimit.js}"></script>

            <!-- modal za limite-->
            <div aria-hidden="true" aria-labelledby="limitModalLabel" class="modal fade" id="limitModal"
                 role="dialog"
                 tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 30px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="methodLimitName"></h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="addLimitForm">
                                <div class="form-group row">
                                    <p hidden="true" id="methodLimitId"></p>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label"
                                           for="methodLimitDescription">Description:</label>
                                    <div class="col-sm-10">
                                            <textarea class="form-control" id="methodLimitDescription"
                                                      rows="5"></textarea>
                                    </div>
                                </div>

                                <div class="modal-footer">

                                    <a class="btn btn-dark op" data-dismiss="modal" onclick="editLimit()"
                                       type="button"
                                       value="Save">
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>

        <div class="card-deck pb-3">
            <div class="card card-method">
                <div class="card-body">
                    <h3 class="card-title d-inline" style="font-family: 'Corbel Light';">Advantages</h3>
                    <div sec:authorize="isAuthenticated()" class="d-inline" style="font-size: 18px">
                        <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                        <a data-target="#advantagesModal" data-toggle="modal"
                           style="float: right">
                            <i class="fas fa-edit"></i>
                        </a>
                        </div>
                    </div>
                    <p class="card-text">
                    <ul th:each="advantages : ${scrum.getAdvantages()}">
                        <li th:text="${advantages}"></li>
                    </ul>
                    </p>
                </div>
            </div>

            <div class="card card-method">
                <div class="card-body">
                    <h3 class="card-title d-inline" style="font-family: 'Corbel Light';">Disadvantages</h3>
                    <div sec:authorize="isAuthenticated()" class="d-inline" style="font-size: 18px">
                        <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                        <a data-target="#disadvantagesModal" data-toggle="modal"
                           style="float: right"><i class="fas fa-edit"></i>
                        </a>
                        </div>
                    </div>
                    <p class="card-text">
                    <ul th:each="disadvantages : ${scrum.getDisadvantages()}">
                        <li th:text="${disadvantages}"></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            var advantagesExisting = [[${scrum.getAdvantages()}]];
        </script>
        <div aria-hidden="true" aria-labelledby="advantagesModal" class="modal fade"
             id="advantagesModal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="padding: 30px;">
                    <div class="modal-header">
                        <h5 class="modal-title">Advantages</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addAdvantagesForm">
                            <div class="form-group row" id="methodAdvantages"
                                 th:each="advantages : ${scrum.getAdvantages()}">
                                    <span class="inline-icons">
                                    <i class="far fa-check-square icon-color"></i>
                                    <span th:id="'methodAdvantages' + ${advantages}"
                                          th:text="${advantages}"></span>
                                        <i class="fas fa-trash icon-color"
                                           th:attr="onclick=|deleteElement('${advantages}', 'methodAdvantages')|"></i>
                                    </span>
                                </br>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="methodAddAdvantages">Add
                                    advantages:</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="methodAddAdvantages"
                                           type="text"/>
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-dark float-right"
                                           onclick="addAdvantage()"
                                           type="button"
                                           value="Add">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-dark float-right" data-dismiss="modal"
                                       id="editAdvantage"
                                       onclick="editAdvantages()"
                                       type="button"
                                       value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var disadvantagesExisting = [[${scrum.getDisadvantages()}]];
        </script>
        <div aria-hidden="true" aria-labelledby="disadvantagesModal" class="modal fade"
             id="disadvantagesModal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="padding: 30px;">
                    <div class="modal-header">
                        <h5 class="modal-title">Disadvantages</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addDisadvantagesForm">
                            <div class="form-group row" id="methodDisadvantages"
                                 th:each="disadvantages : ${scrum.getDisadvantages()}">
                                    <span class="inline-icons">
                                    <i class="far fa-check-square icon-color"></i>
                                    <span th:id="'methodDisadvantages' + ${disadvantages}"
                                          th:text="${disadvantages}"></span>
                                        <i class="fas fa-trash icon-color"
                                           th:attr="onclick=|deleteElement('${disadvantages}', 'methodDisadvantages')|"></i>
                                    </span>
                                </br>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="methodAddDisadvantages">Add
                                    disadvantages:</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="methodAddDisadvantages"
                                           type="text"/>
                                </div>
                                <div class="col-sm-2">
                                    <input class="btn btn-dark float-right"
                                           onclick="addDisadvantage()"
                                           type="button"
                                           value="Add">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-dark float-right" data-dismiss="modal"
                                       id="editDisadvantage"
                                       onclick="editDisadvantages()"
                                       type="button"
                                       value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row pb-3">
            <div class="col-md-2">
                <p class="brown lead ">Find out more</p>
            </div>
            <div class="col-lg-5">
                <span th:if="${!scrum.getExternalLinks().isEmpty()}">
                    <ul class="link-group methodUL" style="list-style-type: none;"
                        th:each="link : ${scrum.getExternalLinks()}">
                        <li class="list-group-item">
                            <i class="fas fa-link icon-color d-inline"></i>
                            <a class="d-inline" th:href="@{${link}}">Read here</a>
                        </li>
                    </ul>
                </span>
                <div sec:authorize="isAuthenticated()" class="nav-item">
                    <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                    <a class="d-inline" data-target="#externalLinksModal" data-toggle="modal"
                       style="float: right" type="button"><i class="fas fa-edit icon-color"></i>
                    </a>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                var externalLinksExisting = [[${scrum.getExternalLinks()}]];
            </script>
            <div aria-hidden="true" aria-labelledby="externalLinksModal" class="modal fade" id="externalLinksModal"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="padding: 30px;">
                        <div class="modal-header">
                            <h5 class="modal-title">External Links:</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="addExternalLinksForm">
                                <h5>Existing external links:</h5>
                                <div class="form-group row" id="methodExternalLinks"
                                     th:each="externalLinks : ${scrum.getExternalLinks()}">
                                    <span class="inline-icons">
                                    <i class="fas fa-link icon-color d-inline"></i>
                                    <span th:id="'methodExternalLinks' + ${externalLinks}"
                                          th:text="${externalLinks}"></span>
                                    <i class="fas fa-trash icon-color"
                                       th:attr="onclick=|deleteElement('${externalLinks}', 'methodExternalLinks')|"></i>
                                    </span>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="methodAddExternalLinks">Add external
                                        links:</label>
                                    <input class="col-sm-7 form-control" id="methodAddExternalLinks" type="text"/>
                                    <div class="col-sm-2">
                                        <input class="btn btn-dark float-right"
                                               onclick="addExternalLinks()"
                                               type="button"
                                               value="Add">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-dark float-right" data-dismiss="modal"
                                           onclick="editExternalLinks()"
                                           type="button"
                                           value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                    <span th:if="${!scrum.getInternalLinks().isEmpty()}">
                        <ul class="link-group methodUL" style="list-style-type: none;"
                            th:each="link1 : ${scrum.getInternalLinks()}">
                            <li class="list-group-item">
                                <i class="fas fa-link icon-color d-inline"></i>
                                <a class="d-inline" th:href="@{${link1}}">See also</a>
                            </li>
                        </ul>
                    </span>
                <div sec:authorize="isAuthenticated()" class="nav-item">
                    <div th:if="${scrum.hasAccess(profile.get('email').asString())} == true">
                    <a data-target="#internalLinksModal" data-toggle="modal"
                       style="float: right" type="button"><i class="fas fa-edit icon-color"></i>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var internalLinksExisting = [[${scrum.getInternalLinks()}]];
        </script>
        <div aria-hidden="true" aria-labelledby="internalLinksModal" class="modal fade" id="internalLinksModal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" style="padding: 30px;">
                    <div class="modal-header">
                        <h5 class="modal-title">Internal Links:</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addInternalLinksForm">
                            <h5>Existing inernal links:</h5>
                            <div class="form-group row" id="methodInternalLinks"
                                 th:each="internalLinks : ${scrum.getInternalLinks()}">
                                    <span class="inline-icons">
                                    <i class="fas fa-link icon-color d-inline"></i>
                                    <span th:id="'methodInternalLinks' + ${internalLinks}"
                                          th:text="${internalLinks}"></span>
                                    <i class="fas fa-trash icon-color"
                                       th:attr="onclick=|deleteElement('${internalLinks}', 'methodInternalLinks')|"></i>
                                    </span>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="methodAddInternalLinks">Add internal
                                    links:</label>
                                <input class="col-sm-7 form-control" id="methodAddInternalLinks" type="text"/>
                                <div class="col-sm-2">
                                    <input class="btn btn-dark float-right"
                                           onclick="addInternalLinks()"
                                           type="button"
                                           value="Add">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-dark float-right" data-dismiss="modal"
                                       onclick="editInternalLinks()"
                                       type="button"
                                       value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments/footer :: footer"></div>

    </div>

</div>

</body>
</html>