<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script crossorigin="anonymous" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/stili.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/sidebarCSS.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/scrollbarCSS.css}" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/sidebar.js"></script>
    <script src="/js/quiz.js"></script>
    <meta charset="UTF-8">
    <title>Development method quiz</title>
</head>

<body>
<div class="wrapper d-flex align-items-stretch">

    <!-- Sidebar  -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-between">
            <button class="btn btn-dark" id="sidebarCollapse" type="button">
                <span class="fas fa-angle-left"></span>
            </button>
            <div sec:authorize="isAuthenticated()">
                <a href="/index" class="btn btn-dark">Home</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div th:replace="fragments/navbar :: navbar"></div>
            </div>
        </nav>


        <div class="jumbotron text-center jumbo-text"
             style=" background-image:url(/images/try.jpg);opacity: 0.5;  background-size: 100% 100%;">
            <div class="container">
                <br/> <br/>
                <h1 class="display-3" style="opacity: 1">What development method is</h1>
                <h1 class="display-2" style=" opacity: 1;">for you?</h1><br/> <br/>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="row">
                        <h3 style="font-family: 'Corbel Light'; font-size: 37px">How to properly decide?</h3>
                    </div>
                    <div class="row" style="font-size: 19px; text-align: justify;">
                        We have developed a software development methods quiz, which allows you to
                        pick a development method based on your input data. It's an efficient and simple way of deciding how
                        to improve yourself and your company to the fullest, as well as educating yourself
                        on other important practices in other methods.
                        Simply input information about the project you are working on in the quiz below and
                        the results will help you decide the optimal development method for you.
                    </div>
                </div>
                <div class="col-lg-5" style="text-align: center"><br/>
                    <img class="circular--square" src="/images/no1.png" style=" max-width: 70%;
                        max-height: 100%; opacity: 0.8;"/>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6 text-center">
                    <img class="circular--square" src="/images/communication.png" style=" max-width: 80%;
                        max-height: 100%; opacity: 0.8;"/>
                </div>
                <div class="col-lg-5 text-center" >
                    <div class="row">
                        <h3 style="font-family: 'Corbel Light'; text-align: left; font-size: 37px">How is choosing a proper
                            development methodology going to help you?</h3>
                    </div>
                    <div class="row" style="font-size: 19px; text-align: justify;">
                        All companies are different and we understand that. That's why we are introcuding you to
                        a simple way of deciding
                        on the development method for your project. Choosing the proper development method
                        may be
                        risky, but it's going to enable your company along with your employees to grow, communicate better
                        and of course
                        improve product quality!
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <br/>
        <hr/>
        <div class="container" id="quiz" style="padding: 5px 50px;">
            <br/>
            <form id="quizForm">
                <div style="padding: 15px 35px; border: 2px solid #00868B">
                    <h2 class="display-4" style="font-size: xx-large">Q1: What size is your team and company?</h2>
                    <br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="startup" name="sizeCompany" type="radio">
                            <label class="col-sm-10 custom-control-label" for="startup" style="font-size: 20px;">Startup
                                (less than 20
                                employed)</label></div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="large" name="sizeCompany" type="radio">
                            <label class="col-sm-10 custom-control-label" for="large" style="font-size: 20px">Large
                                organization (100 employed and
                                above)</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="padding: 15px 35px; border: 2px solid #53868B">
                    <h2 class="display-4" style="font-size: xx-large;">Q2: What is the geographical arrangement of the
                        team?</h2>
                    <br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="sameWorkspace" name="geoWorkspace"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="sameWorkspace" style="font-size: 20px">Team
                                members share the same
                                workspace</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="difWorkspace" name="geoWorkspace"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="difWorkspace" style="font-size: 20px">Team
                                members are spread out in
                                different
                                locations</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkWorkspace" name="geoWorkspace"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkWorkspace" style="font-size: 20px">Don't
                                know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="padding: 15px 35px; border: 2px solid #8DB6CD">
                    <h2 class="display-4" style="font-size: xx-large">Q3: What is the size of your project?</h2><br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="largeProject" name="sizeProject"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="largeProject"
                                   style="font-size: 20px">Large</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="smallProject" name="sizeProject"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="smallProject"
                                   style="font-size: 20px">Small</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkProject" name="sizeProject"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkProject"
                                   style="font-size: 20px">Don't know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style=" padding: 15px 35px; border: 2px solid #53868B">
                    <h2 class="display-4" style="font-size: xx-large">Q4: What is the average working experience of your
                        developers?</h2><br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="veryExp" name="experience" type="radio">
                            <label class="col-sm-10 custom-control-label" for="veryExp" style="font-size: 20px">Very
                                experienced</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="mediumExp" name="experience" type="radio">
                            <label class="col-sm-10 custom-control-label" for="mediumExp" style="font-size: 20px">Somewhat
                                experienced</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="lowExp" name="experience" type="radio">
                            <label class="col-sm-10 custom-control-label" for="lowExp" style="font-size: 20px">Low
                                experienced</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkExp" name="experience" type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkExp" style="font-size: 20px">Don't
                                know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style=" padding: 15px 35px; border: 2px solid #8DB6CD">
                    <h2 class="display-4" style="font-size: xx-large">Q5: Is component reusability important to
                        you?</h2>
                    <br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="yComponent" name="component" type="radio">
                            <label class="col-sm-10 custom-control-label" for="yComponent"
                                   style="font-size: 20px">Yes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="nComponent" name="component" type="radio">
                            <label class="col-sm-10 custom-control-label" for="nComponent"
                                   style="font-size: 20px">No</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkComponent" name="component" type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkComponent"
                                   style="font-size: 20px">Don't know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style=" padding: 15px 35px; border: 2px solid #6996AD">
                    <h2 class="display-4" style="font-size: xx-large">Q6: Do the developers have a big scope of
                        knowledge or
                        are
                        they specialized in one compartement?</h2><br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="bigScope" name="scope" type="radio">
                            <label class="col-sm-10 custom-control-label" for="bigScope" style="font-size: 20px">Big
                                scope
                                of knowledge</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="specScope" name="scope" type="radio">
                            <label class="col-sm-10 custom-control-label" for="specScope" style="font-size: 20px">Specialized</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="nScope" name="scope" type="radio">
                            <label class="col-sm-10 custom-control-label" for="nScope"
                                   style="font-size: 20px">Neither</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkScope" name="scope" type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkScope"
                                   style="font-size: 20px">Don't know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style=" padding: 15px 35px; border: 2px solid #65909A">
                    <h2 class="display-4" style="font-size: xx-large">Q7: Is documenting the development process
                        important
                        to
                        you?</h2><br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="yDoc" name="documentation" type="radio">
                            <label class="col-sm-10 custom-control-label" for="yDoc" style="font-size: 20px">Yes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="nDoc" name="documentation" type="radio">
                            <label class="col-sm-10 custom-control-label" for="nDoc" style="font-size: 20px">No</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkDoc" name="documentation" type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkDoc" style="font-size: 20px">Don't
                                know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style=" padding: 15px 35px; border: 2px solid #8DB6CD">
                    <h2 class="display-4" style="font-size: xx-large">Q8: What type of requirements are you working
                        with?</h2>
                    <br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="staticReq" name="requirements"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="staticReq"
                                   style="font-size: 20px">Static</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="changingReq" name="requirements"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="changingReq"
                                   style="font-size: 20px">Changing</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkReq" name="requirements"
                                   type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkReq"
                                   style="font-size: 20px">Don't know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style=" padding: 15px 35px; border: 2px solid #B0E2FF">
                    <h2 class="display-4" style="font-size: xx-large">Q9: What is the estimated time of the local
                        increment? </h2><br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="longTime" name="estTime" type="radio">
                            <label class="col-sm-10 custom-control-label" for="longTime" style="font-size: 20px">Long
                                time
                                period</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="shortTime" name="estTime" type="radio">
                            <label class="col-sm-10 custom-control-label" for="shortTime" style="font-size: 20px">Short
                                time period</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkTime" name="estTime" type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkTime" style="font-size: 20px">Don't
                                know</label>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="padding: 15px 35px; border: 2px solid #8DB6CD">
                    <h2 class="display-4" style="font-size: xx-large">Q10: Is your system complex? </h2><br/>
                    <div class="answer">
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="yComplex" name="complex" type="radio">
                            <label class="col-sm-10 custom-control-label" for="yComplex"
                                   style="font-size: 20px">Yes</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="nComplex" name="complex" type="radio">
                            <label class="col-sm-10 custom-control-label" for="nComplex"
                                   style="font-size: 20px">No</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input class="col-sm-2 custom-control-input" id="dkComplex" name="complex" type="radio">
                            <label class="col-sm-10 custom-control-label" for="dkComplex"
                                   style="font-size: 20px">Don't know</label>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row" style="text-align: center">
                    <input onclick="quizGrading()"
                           style="padding: 10px 20px; background-color: #6996AD; color: white; border: 2px solid #6996AD;"
                           type="button"
                           value="All done!"/>
                </div>


                <div class="row" id="showMe" style="display: none">
                    <h2 class="card-title d-inline font-weight-light text-lg-left mt-4 mb-0"
                        style="font-size: 30px;color: #00868B">
                        Want to find out more? </h2>
                    <br/>
                    <div class="col-sm-12">
                        <p class="card-title d-inline font-weight-light text-lg-left mt-4 mb-0"
                           style="font-size: 24px;">
                            Check out all the details of your results <a href="/categories"
                                                                         style="color: #6996AD">here!</a>
                        </p>
                    </div>
                    <div class="row" style="text-align: center; margin-left: 50px;">
                        <div class="col-sm-6" style="text-align: center; height: 450px;">
                            <img class="circular--square" src="/images/quizzz.jpg" style=" max-width: 100%;
                        max-height: 100%; opacity: 0.8;"/>
                        </div>
                        <div class="col-sm-6" id="printAnswers"><br/><br/><br/><br/></div>
                    </div>
                </div>
            </form>
        </div>


        <!--        <div class="row" style="text-align: center">-->
        <!--            <div class="col-sm-4"></div>-->
        <!--            <div class="col-sm-4">-->
        <!--                <button class="btn" style="background-color: #F7F48B;  font-size: x-large; border: 2px solid khaki;">-->
        <!--                    <span style="font-family: 'Corbel Light'; font-size: 35px">All done!</span>-->
        <!--                </button>-->
        <!--            </div>-->
        <!--            <div class="col-sm-4"></div>-->
        <!--        </div>-->
        <br/>

        <div th:replace="fragments/footer :: footer"></div>

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');

            var $el = $(this);
            $el.find('span').toggleClass('fa-times fa-angle-right');
            $el.toggleClass('sidebarCollapse');
        });
    });
</script>

</body>


</html>